a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: black;
}

.topnav a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a:hover {
    color: rgb(113, 113, 113);
}

.topnav {
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

.bottomnav {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row
}

.container .nav-link {
    color: black;
}

.control__small {
    width: 50%;
    height: auto;
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .control__small{
        display: flex;
        margin: auto 10px;
    }
    .nav{
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 601px) and (max-width: 780px) {
    .nav{
        flex-wrap: nowrap;
    }
}