
.header__container {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px -6px 10px 0px;
}
.topHeader {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 25px;
}

@media screen and (max-width: 600px) {
    .topHeader {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
